{% extends "b/base.html" %}

{%block title%}9ch{%endblock%}

{%block content%} 
        <div class="container pt-10 center my-5 border ">
            <div class="text-center">

                <h2><b>{{post.post_title}}</b></h2>
                <h3>{{post.post_text}}</h3>
            
                {%for coment in comments_list%}
                    <div class="container pt-10 my-5 border">

                        <b>{{coment.comment_author}}</b> 
                        {{coment.comment_pub_date}}
                        <p>{{coment.comment_text}}</p>

                    </div>
                {%endfor%}
                {{post.post_pub_date}}
            </div>
        </div>
   
{%endblock%}